.alc {
    text-align: center;
}

.btn-color {
    background-color: #4E71A8;
    color: white;
}

.btn-color1 {
    background-color: #CA4638;
    color: white;
}

.btn-color2 {
    background-color: #A8EB12;
    color: white;
}

.sign-in-color {
    background-color: #40C8C3;
    color: white;
}

.color-sec {
    color: darkgray;
}